html, body {
	margin: 0;
	height: 100%;
	z-index: 0;
}

div#controls {
width: 482px;
margin: auto;
}

div.bar {
	width: 60px;
	height: 500px;
	float: left;
	margin-right: 50px;
}

div.bar > div:first-child {
	border: 1px solid #ccc;
	height: 90%;
	position: relative;
}

div.stone {
	position: absolute;
	display: block;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	height: 50px;
	width: 50px;
	border-radius: 50%;
	background-color: blue;
	margin-bottom: 5px;
	z-index: 3;
}